@import "normalize.css";
@import "bootstrap/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway:200');

// CSS Glitch effect taken from
// https://codepen.io/lbebber/pen/ypgql

html {
	height: 100%;
}

body{
	background: #1b1b1b;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ddd;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
}


a:link{
	color:#fff;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

a:visited{
	color:#fff;
}

header{
	font-size:4em;
	text-align: right;
	padding: 10px 20px 30px 0px;
	display: flex;
	justify-content: flex-end;

	a {
		font-family: 'Raleway', sans-serif;
		color:#ddd;
		font-weight: 200;
		margin-right: 30px;
	}

	a:hover {
		text-decoration: none;
	}
}

.nav {
	margin-top: 20px !important;
	font-size: 1.2rem;

	a {
		transition: all .2s ease-in;
	}

	a:hover {
		color: #868686;
	}
}

aside {
	flex-basis: 20%
}

.page {
	background-color: #303030;
	width: 100%;
	overflow-y: auto;
}

.logo {
	padding-top: 20px;
	width: 64px;
	height: 84px;
}

.glitch {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
	top:0;
	// display: flex;
	// justify-content: flex-end;
  text-shadow:-1px 0 red;
  color:white;
  background:#303030;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
	top:0;
	// display: flex;
	// justify-content: flex-end;
  text-shadow:1px 0 blue; 
  color:white;
  background: #303030;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

.index {
	font-size:2em;
	padding:15px;
	margin:20px;
	background-color: rgba(175, 175, 175, 0.07);
	line-height:1.5em;
}

content {
	font-size: 1.2rem;
	text-align: left;
}

.welcome {
	width: 90%;
	margin: auto;
	padding: 20px;
	background-color: #2a2a2a;

	h2 { padding-bottom: 20px; }
}

.blog {
	width: 60%;
	margin: auto;
	padding: 20px 20px 5px 20px;
	background-color: #2a2a2a;

	h2 { padding-bottom: 20px; }
}

.blogPost {
	font-weight: bold;
	margin-bottom: 10px;
}

.blogDate {
	color: rgb(80, 80, 80);
}

// .post-info {
// 	float: left;
// }

.post-body {
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:15px;
	font-size:1.4em;
	text-align:left;
	line-height:1.5em;

	p { margin-top: 10px; }
}

.post {
	//border-width: 2px;
	//border-color: black;
	//border-style: solid;
	width: 80%;
	margin: 10px auto 20px auto;
	background-color: #2a2a2a;
	text-align:left;
	font-weight:normal;

	h1 {
		font-size: 1.8em;
		font-weight: bold;
		padding: 15px 0 0 30px;
	}

	.date {
		padding-left: 30px
	}
}

.contact {
	width: 90%;
	margin: auto;
	padding: 20px 20px 5px 20px;
	background-color: #2a2a2a;
}